<!-- templates/navbar.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary mb-4">
    <div class="container">
        <span class="navbar-brand">📝 To-Do App</span>
        <div class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </div>

        <div class="collpase navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" class="navbar-brand">
                    <span class="nav-item">
                        <h5 class="text-white">
                            Welcome, {{user.username}}!
                        </h5>
                    </span>
                </li>
            </ul>
        </div>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
